/* This is the CSS of the website. 
You can read this CSS as it is divided:
per page -> per section (sorted as in webpage) -> Elements -> Classes ->IDs -> sorted alphabethically.
All Global attributes will be stored in global comments in this css file. */

/* Elements */

:root {
    --bs-nazmaOrange: #f5821f;
    --bs-nazmaBlue: #2c2f75;
    --bs-nazmaBlue-rgb: rgba(44,47,117,255);
}

.bg-nazmaBlue {
    --bs-bg-opacity: 1;
    background-color: #2c2f75;
  }

.btn-outline-nazmaOrange {
    --bs-btn-color: #f5821f;
    --bs-btn-border-color: #f5821f;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #f5821f;
    --bs-btn-hover-border-color: #f5821f;
    --bs-btn-focus-shadow-rgb: 13, 202, 240;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f5821f;
    --bs-btn-active-border-color: #f5821f;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #f5821f;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #f5821f;
    --bs-gradient: none;
  }

a,
a:hover {
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #040404;
    color: white;
}

h2 {
    text-align: center;
    font-family: 'Zilla Slab', serif;
}

p {
    margin: 0;
}

body:not(h1, h2, .homeTextLarge, .homeTextSmall) {
    font-family: 'Rubik', sans-serif;
}

/* Global Attributes */
    /* Classes */

        .card:hover {
            box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
        }

        .centerDiv {
            margin: auto;
            margin-bottom: 2rem;
        }

        .centerItems {
            text-align: center;
        }

        .evenBG {
            background-color: white;
            padding-bottom: 2rem;
            padding-top: 3rem;
        }

        .oddBG {
            background-color: #E8E4E1;
            padding-bottom: 2rem;
            padding-top: 3rem;
        }

        .parent {
            display: flex;
        }

/* Footer Section */

    #Footer_Section .col {
        margin-bottom: 1rem;
    }

    #Footer_Section .container-fluid {
        padding: 3% 15% 3%;
    }


    #Footer_Section .fa-brands:hover {
        color: #119DA4;
    }
    
    /* Classes */
        
        .footerIcon {
            letter-spacing: 1rem;
            font-size: 2rem;
        }

/* Navigation Bar Section */
        /* Classes */

        .nav-item {
            text-align: center;
        }

        .imgBrand {
            width: 100px;
        }
        .btn-nazma {
            border-color: #f5821f;
            color: white;
        }

        .btn-nazma:hover {
            color: #f5821f;
        }

.news {
    margin: 5rem 1rem;
}

.news p {
    white-space: pre-wrap;
}

.news h1, .news img {
    margin-bottom: 2rem;
}

@media screen and (min-width: 835px) {
    .easyRead {
        max-width: 60vw;
    }
}