    <!-- Footer Section ----------------------------------------------------------------------------------->

    <footer id="Footer_Section">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
                <div class="col">
                    <p style="text-align: center;"><b>Informasi Kontak</b></p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.</p>
                </div>
            </div>
            <div class="row">
                <div class="col position-relative">
                    <div class="position-absolute top-50 start-50 translate-middle">
                        <p class="footerIcon">
                            <a href="https://www.instagram.com/nazma_office/" target="_blank"><i
                                    class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.facebook.com/nazma_office-102078417993512/" target="_blank"><i
                                    class="fa-brands fa-square-facebook"></i></a>
                            <a href="https://www.linkedin.com/in/nazma-office-77899b199/" target="_blank"><i
                                    class="fa-brands fa-linkedin"></i></a>
                            <a href="https://www.tiktok.com/@nazma_office?_t=8UY3N8jxk8X&_r=1" target="_blank"><i
                                    class="fa-brands fa-tiktok"></i></a>
                        </p>
                    </div>
                </div>
                <div class="col">
                    <p style="text-align: center;"><b>Alamat Kantor</b></p>
                    <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
                        est laborum.</p>
                </div>
            </div>
            <hr>
            <p style="text-align: center;"><i class="fa-regular fa-copyright"></i> 2022 by NaZMa Office</p>
        </div>
    </footer>
</body>

</html>