<%- include('header') %>

    <!-- Product Information Technology Section ----------------------------------------------------->

    <section id="PIT_Section">
        <div class="container-fluid firstSection oddBG">
            <h2>Product Information Technology</h2>
            <div class="parent marginLeftRight">
                <div class="centerDiv centerItems">
                    <!----------------------------------------------------------------  P I T 1 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/search.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Jasa Informasi Lainnya YTDL</strong></p>
                            <p class="card-text">Jasa informasi berbasis telepon, pencarian informasi atas dasar balas
                                jasa atau kontrak dan jasa kliping berita, dan lain-lain.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT1" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT1" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Jasa Informasi
                                                Lainnya YTDL</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- <img src="https://cdn.brocoders.com/6_phases_of_software_development_life_cycle_ce25a52c62.png" alt="" class="img-fluid"> -->
                                            <p>Kelompok ini mencakup usaha jasa informasi lainnya yang tidak dapat
                                                diklasifikasikan di tempat lain, seperti jasa informasi berbasis
                                                telepon, jasa
                                                pencarian informasi atas dasar balas jasa atau kontrak dan jasa kliping
                                                berita, jasa kliping pers dan lain-lain. Termasuk dalam kelompok ini
                                                kegiatan jasa penyedia konten.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 2 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/multimedia.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Jasa Multimedia Lainnya</strong></p>
                            <p class="card-text">Layanan konvergen radio dan televisi, video, audio, teks, grafik dan
                                data yang disalurkan melalui jaringan protokol internet.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT2" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT2" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Jasa Multimedia
                                                Lainnya</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup usaha jasa untuk menyediakan layanan konvergen
                                                radio dan televisi, video, audio, teks, grafik dan data yang disalurkan
                                                melalui jaringan protokol internet yang dijamin kualitas layanannya,
                                                keamanannya, kehandalannya, dan mampu memberikan layanan
                                                komunikasi dengan pelanggan secara dua arah (interaktif).
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 3 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/data-management.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Teknologi Informasi dan Jasa Komputer
                                    Lainnya</strong></p>
                            <p class="card-text">Pemulihan kerusakan komputer, instalasi personal komputer dan instalasi
                                perangkat lunak, manajemen insiden dan digital forensic.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT3" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT3" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Teknologi
                                                Informasi dan Jasa Komputer Lainnya</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan teknologi informasi dan jasa komputer
                                                lainnya yang terkait dengan kegiatan yang belum diklasifikasikan di
                                                tempat
                                                lain, seperti pemulihan kerusakan komputer, instalasi (setting up)
                                                personal
                                                komputer dan instalasi perangkat lunak. Termasuk juga kegiatan
                                                manajemen insiden dan digital forensik. Kelompok ini mencakup berbagai
                                                usaha yang berkaitan dengan komputer yang belum tercakup dalam.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 4 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/online-learning.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Jasa Pendidikan Komputer (Teknologi Informasi dan
                                    Komunikasi) Swasta</strong></p>
                            <p class="card-text">Kursus untuk menambah keahlian dalam bidang komputer dan teknologi
                                informasi dan komunikasi.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT4" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT4" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT4" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Jasa Pendidikan Komputer
                                                (Teknologi Informasi dan Komunikasi) Swasta</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan pendidikan yang bersifat kursus dengan
                                                tujuan untuk menambah ketrampilan/keahlian dalam bidang komputer dan
                                                teknologi informasi dan komunikasi yang diselenggarakan oleh swasta.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 5 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Pengembangan Aplikasi Perdagangan Melalui
                                    Internet (E-Commerce)</strong></p>
                            <p class="card-text">In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                mi id efficitur accumsan.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT5" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT5" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT5" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Pengembangan
                                                Aplikasi Perdagangan Melalui Internet (E-Commerce)</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan pendidikan yang bersifat kursus dengan
                                                tujuan untuk menambah ketrampilan/keahlian dalam bidang komputer dan
                                                teknologi informasi dan komunikasi yang diselenggarakan oleh swasta.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Management Consulting Section ----------------------------------------------------->

    <section id="PMC_Section">
        <div class="container-fluid evenBG">
            <h2>Product Management Consultinig</h2>
            <div class="parent marginLeftRight">
                <div class="centerDiv centerItems">
                    <!----------------------------------------------------------------  P M C 1 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/calendar.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Event Organizer</strong></p>
                            <p class="card-text">Penyelenggaraan event khusus, festival, karnaval, event olahraga, event
                                musik, event budaya, event personal dan acara sejenisnya.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC1" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC1" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Event Organizer</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan penyelenggara event khusus yang
                                                melakukan pengaturan dan penyelenggaraan event khusus, baik atas dasar
                                                permintaan client mewujudkan tujuan yang diharapkan melalui acara yang
                                                diadakan, maupun event khusus yang dirancang sendiri, dimulai dari
                                                proses pembuatan konsep, perencanaan, persiapan, eksekusi hingga
                                                rangkaian acara selesai. Kegiatan penyelenggaraan event khusus yang
                                                dicakup kelompok ini adalah festival, karnaval, event olahraga, event
                                                musik, event budaya, event personal dan acara sejenisnya.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 2 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/consulting.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Konsultasi Manajemen Lainnya</strong></p>
                            <p class="card-text">Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed
                                ornare est quis posuere commodo.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC2" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC2" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Konsultasi
                                                Manajemen Lainnya</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed ornare
                                                est quis posuere commodo. Ut ligula nisl, scelerisque et tellus at,
                                                iaculis placerat ligula. Integer ullamcorper lectus dui, nec lobortis
                                                metus volutpat sed. Ut tincidunt egestas sem quis fringilla. Nunc ornare
                                                facilisis sem ac bibendum. Morbi cursus rhoncus justo, non volutpat nibh
                                                accumsan sed. Fusce faucibus, mi quis venenatis efficitur, ex nulla
                                                varius dolor, eu vulputate metus ipsum consequat ligula. Phasellus sem
                                                leo, sagittis at nisi euismod, viverra pulvinar ex. Etiam convallis
                                                ligula vitae orci vehicula, sed efficitur nisl ornare. Cras nulla mi,
                                                tempor ut mauris eget, convallis dignissim magna. Mauris auctor
                                                sollicitudin sodales.<br><br>

                                                Quisque vulputate, libero quis condimentum egestas, elit sapien egestas
                                                lacus, ac malesuada tellus odio fermentum lacus. Vestibulum vitae
                                                bibendum lectus. Maecenas non fringilla nulla, ut interdum odio. Vivamus
                                                quis nulla at lorem congue imperdiet. Vivamus eget dolor nec neque
                                                dapibus vulputate. Proin iaculis metus ac dignissim volutpat. Aliquam
                                                erat volutpat. Phasellus accumsan neque a blandit accumsan.<br><br>

                                                Ut laoreet lobortis sollicitudin. Nunc scelerisque non sapien in
                                                ultricies. Maecenas egestas fermentum libero. In hac habitasse platea
                                                dictumst. Class aptent taciti sociosqu ad litora torquent per conubia
                                                nostra, per inceptos himenaeos. Integer sed odio feugiat, volutpat augue
                                                eu, semper turpis. Ut condimentum turpis ut enim rutrum, et congue neque
                                                sollicitudin. Suspendisse tincidunt, ante sit amet faucibus efficitur,
                                                est velit facilisis diam, at gravida leo dolor a justo. Maecenas
                                                hendrerit enim a semper eleifend.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 3 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/bank.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Jasa Pendidikan Manajemen dan Perbankan</strong></p>
                            <p class="card-text">Kegiatan pendidikan manajemen dan perbankan yang diselenggarakan
                                swasta.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC3" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC3" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Jasa Pendidikan Manajemen
                                                dan Perbankan</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan pendidikan manajemen dan perbankan
                                                yang diselenggarakan swasta. Kegiatan yang termasuk dalam kegiatan ini
                                                adalah jasa pendidikan atau kursus administrasi bisnis, administrasi
                                                perkantoran, administrasi kesehatan, administrasi, administrasi niaga,
                                                akuntansi, akuntansi bisnis, akuntansi perbankan, akuntansi perkantoran,
                                                akuntansi perpajakan, akuntansi perusahaan, asuransi, ekspor impor,
                                                kepabeanan dan cukai, kewirausahaan, manajemen, manajemen
                                                administrasi, manajemen bisnis, manajemen informatika, manajemen
                                                kesehatan, manajemen keuangan, manajemen keuangan dan perpajakan,
                                                manajemen pariwisata, manajemen pelatihan, manajemen
                                                pemasaran/perdagangan, manajemen perbankan, perkantoran,
                                                manajemen perusahaan, properti, manajemen terapan, mengetik,
                                                pemasaran/marketing, pemasaran busana, pengamanan/sekuriti,
                                                perbankan dan pasar modal, perkantoran, perpajakan, polibisnis,
                                                pramurukti, pramusiwi, pramuwisma, sales manajemen, sekretaris, tata
                                                kota, wira niaga dan lain-lain.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 4 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/conference.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Penyelenggaraan Pertemuan Perjalanan Insentif,
                                    Konferensi, dan Pameran</strong></p>
                            <p class="card-text">Usaha pengaturan, promosi dan atau pengelolaan acara.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC4" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC4" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC4" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Penyelenggaraan Pertemuan
                                                Perjalanan Insentif, Konferensi, dan Pameran</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup usaha pengaturan, promosi dan atau pengelolaan
                                                acara, seperti jasa pelayanan bagi suatu pertemuan sekelompok orang
                                                (negarawan, usahawan, cendekiawan, dan sebagainya). Termasuk juga
                                                dalam kelompok ini usaha jasa yang merencanakan, menyusun dan
                                                menyelenggarakan program perjalanan insentif dan usaha jasa yang
                                                melakukan perencanaan dan penyelenggaraan pameran dagang dan usaha,
                                                konvensi, konferensi dan rapat atau pertemuan. Kegiatan ini disebut juga
                                                jasa MICE (meeting, incentive, convention and exhibition).
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 5 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/social-care.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Penelitian dan Pengembangan Ilmu Pengetahuan
                                    Sosial</strong></p>
                            <p class="card-text">In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                mi id efficitur accumsan.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC5" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC5" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC5" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Penelitian dan Pengembangan
                                                Ilmu Pengetahuan Sosial</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>But I must explain to you how all this mistaken idea of denouncing
                                                pleasure and praising pain was born and I will give you a complete
                                                account of the system, and expound the actual teachings of the great
                                                explorer of the truth, the master-builder of human happiness. No one
                                                rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                                                but because those who do not know how to pursue pleasure rationally
                                                encounter consequences that are extremely painful. Nor again is there
                                                anyone who loves or pursues or desires to obtain pain of itself, because
                                                it is pain, but because occasionally circumstances occur in which toil
                                                and pain can procure him some great pleasure. To take a trivial example,
                                                which of us ever undertakes laborious physical exercise, except to
                                                obtain some advantage from it? But who has any right to find fault with
                                                a man who chooses to enjoy a pleasure that has no annoying consequences,
                                                or one who avoids a pain that produces no resultant pleasure?
                                                <br><br>
                                                In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                                mi id efficitur accumsan. Quisque mattis accumsan est, quis malesuada
                                                felis. Fusce dapibus pellentesque purus, sed rutrum sem maximus ac.
                                                Quisque placerat vel nisl maximus venenatis. Cras dapibus nulla eget
                                                elit consectetur molestie. Praesent malesuada dui et lectus consectetur
                                                lacinia. Donec non rhoncus sem. Duis lobortis placerat urna, interdum
                                                interdum nunc vehicula at. Ut feugiat sagittis convallis. Etiam
                                                ultricies, dui quis ullamcorper consequat, tellus neque porta mi, non
                                                cursus arcu leo et lectus. Etiam euismod justo turpis, vitae vestibulum
                                                urna feugiat id. Ut elementum nulla eu placerat varius. Cras egestas,
                                                neque ut ultrices finibus, ipsum sapien pharetra mi, ac condimentum elit
                                                justo ut augue. Cras tempor lectus odio, ac ultrices nisi ullamcorper
                                                sed. Proin in est vitae magna consequat luctus.

                                                Phasellus sit amet libero ipsum. Phasellus rutrum nec turpis at
                                                accumsan. Vivamus egestas, massa a tristique vehicula, metus tortor
                                                tempus lorem, vitae viverra arcu velit et massa. Nam commodo vulputate
                                                mi, quis convallis lectus ornare ut. Integer ultricies vitae ligula a
                                                fringilla. Sed dignissim sagittis tellus, ac egestas eros congue non.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- PMC 6 -->

                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv">
                            <img src="../../images/laboratory.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>Aktivitas Profesional Ilmiah, dan Teknis lainnya
                                    YTDL</strong></p>
                            <p class="card-text">Kegiatan profesional, ilmiah dan teknik lainnnya yang tidak
                                diklasifikasikan di tempat lain.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC6" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC6" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC6" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Aktivitas Profesional
                                                Ilmiah, dan Teknis lainnya YTDL</h5>
                                            <button type="button" class="btn-close btn-close-white"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Kelompok ini mencakup kegiatan profesional, ilmiah dan teknik lainnnya
                                                yang tidak diklasifikasikan di tempat lain, seperti jasa konsultasi ilmu
                                                pertanian (agronomist), konsultasi lingkungan, konsultasi teknik lain
                                                dan kegiatan konsultan selain konsultan arsitek, teknik dan manajemen.
                                                Termasuk juga jasa pengangkatan benda berharga asal muatan kapal yang
                                                tenggelam. Kelompok ini juga mencakup kegiatan yang dilakukan oleh agen
                                                atau perwakilan atas nama perorangan yang biasa terlibatkan dalam
                                                pembuatan gambar bergerak, produksi teater atau hiburan lainnya atau
                                                atraksi olahraga dan penempatan buku, permainan (sandiwara, musik dan
                                                lain-lain), hasil seni, fotografi dan lain-lain, dengan publiser,
                                                produser dan lain-lain.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>

    <!-- jQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/layanan.js" charset="utf-8"></script>

    <%- include('footer') %>