<%- include('header') %>

<!-- Product Information Technology Section ----------------------------------------------------->

    <section id="PIT_Section">
        <div class="container-fluid firstSection oddBG">
            <h2>Product Information Technology</h2>
            <div class="parent marginLeftRight">
                <div class="centerDiv centerItems">
                    <!----------------------------------------------------------------  P I T 1 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PIT 1</strong></p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT1" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT1" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PIT 1</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img src="https://cdn.brocoders.com/6_phases_of_software_development_life_cycle_ce25a52c62.png" alt="" class="img-fluid">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mi
                                                justo. Pellentesque sit amet rhoncus libero, sed volutpat dui. Nullam
                                                viverra convallis congue. Vivamus accumsan semper eros, eu efficitur
                                                nunc iaculis a. Curabitur accumsan eget nunc quis dapibus. Nullam
                                                gravida ultricies dolor, in tincidunt lorem condimentum vitae.
                                                Vestibulum non aliquet lacus, feugiat ullamcorper urna. In ut mauris
                                                ornare, porttitor mi sit amet, maximus massa. Quisque porta efficitur
                                                libero in scelerisque. Sed sodales vel lorem sed aliquet. Maecenas id
                                                neque auctor, consequat magna nec, dignissim risus. Sed pulvinar
                                                scelerisque neque, non ornare massa tincidunt iaculis.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 2 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PIT 2</strong></p>
                            <p class="card-text">Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed
                                ornare est quis posuere commodo.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT2" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT2" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PIT 2</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed ornare
                                                est quis posuere commodo. Ut ligula nisl, scelerisque et tellus at,
                                                iaculis placerat ligula. Integer ullamcorper lectus dui, nec lobortis
                                                metus volutpat sed. Ut tincidunt egestas sem quis fringilla. Nunc ornare
                                                facilisis sem ac bibendum. Morbi cursus rhoncus justo, non volutpat nibh
                                                accumsan sed. Fusce faucibus, mi quis venenatis efficitur, ex nulla
                                                varius dolor, eu vulputate metus ipsum consequat ligula. Phasellus sem
                                                leo, sagittis at nisi euismod, viverra pulvinar ex. Etiam convallis
                                                ligula vitae orci vehicula, sed efficitur nisl ornare. Cras nulla mi,
                                                tempor ut mauris eget, convallis dignissim magna. Mauris auctor
                                                sollicitudin sodales.<br><br>

                                                Quisque vulputate, libero quis condimentum egestas, elit sapien egestas
                                                lacus, ac malesuada tellus odio fermentum lacus. Vestibulum vitae
                                                bibendum lectus. Maecenas non fringilla nulla, ut interdum odio. Vivamus
                                                quis nulla at lorem congue imperdiet. Vivamus eget dolor nec neque
                                                dapibus vulputate. Proin iaculis metus ac dignissim volutpat. Aliquam
                                                erat volutpat. Phasellus accumsan neque a blandit accumsan.<br><br>

                                                Ut laoreet lobortis sollicitudin. Nunc scelerisque non sapien in
                                                ultricies. Maecenas egestas fermentum libero. In hac habitasse platea
                                                dictumst. Class aptent taciti sociosqu ad litora torquent per conubia
                                                nostra, per inceptos himenaeos. Integer sed odio feugiat, volutpat augue
                                                eu, semper turpis. Ut condimentum turpis ut enim rutrum, et congue neque
                                                sollicitudin. Suspendisse tincidunt, ante sit amet faucibus efficitur,
                                                est velit facilisis diam, at gravida leo dolor a justo. Maecenas
                                                hendrerit enim a semper eleifend.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 3 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PIT 3</strong></p>
                            <p class="card-text">Vivamus nulla libero, posuere sed pharetra a, convallis in magna.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT3" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT3" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PIT 3</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Vivamus nulla libero, posuere sed pharetra a, convallis in magna. Nullam
                                                sodales eleifend euismod. In condimentum magna lectus, gravida venenatis
                                                nibh rhoncus non. Sed viverra efficitur fermentum. Morbi pellentesque
                                                dictum porttitor. Phasellus non lobortis erat. Duis sagittis lobortis
                                                pretium.
                                                <br><br>
                                                Suspendisse potenti. Etiam efficitur pellentesque erat, vitae tristique
                                                est suscipit sed. Etiam consequat aliquet tortor, vitae semper nisi
                                                tincidunt eget. Nam mauris lacus, vestibulum in purus non, luctus
                                                sagittis arcu. Sed eu orci eget ipsum mollis bibendum. Vivamus eget ex a
                                                turpis tempus molestie laoreet vitae mi. Nullam sed tellus a dolor
                                                pretium auctor. Aenean non justo non neque placerat tincidunt a a ipsum.
                                                Curabitur blandit ullamcorper leo, eget lobortis felis.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 4 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PIT 4</strong></p>
                            <p class="card-text">Cras venenatis gravida orci eget porttitor. Vivamus sit amet ex varius,
                                rhoncus nunc a, ultricies orci. Quisque imperdiet odio accumsan cursus condimentum.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT4" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT4" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT4" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PIT 4</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Cras venenatis gravida orci eget porttitor. Vivamus sit amet ex varius,
                                                rhoncus nunc a, ultricies orci. Quisque imperdiet odio accumsan cursus
                                                condimentum. Suspendisse sed hendrerit turpis. Ut fringilla elementum mi
                                                quis molestie. Donec leo lectus, gravida non nulla vitae, volutpat
                                                ultrices tortor. In dui turpis, viverra in ultricies a, auctor ultricies
                                                tortor. Integer vel ullamcorper risus. Nulla et enim mi. Integer
                                                vestibulum erat quis cursus ornare.
                                                <br><br>
                                                Morbi at gravida nulla, eu vehicula augue. Ut venenatis dictum laoreet.
                                                Duis interdum ante vestibulum, pulvinar enim non, pharetra sapien.
                                                Mauris congue neque vitae venenatis euismod. Phasellus porttitor
                                                consectetur placerat. Fusce in tellus justo. Mauris efficitur, libero a
                                                vulputate auctor, orci nisl posuere odio, non hendrerit dui elit in
                                                massa. Pellentesque eu lacinia purus. Quisque purus mi, efficitur id
                                                venenatis nec, pulvinar vel ex. Cras eleifend commodo nibh non sodales.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P I T 5 -->
                    <div class="card parent">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PIT 5</strong></p>
                            <p class="card-text">In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                mi id efficitur accumsan.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PIT5" class="layananReadMore">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PIT5" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PIT5" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PIT 5</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>But I must explain to you how all this mistaken idea of denouncing
                                                pleasure and praising pain was born and I will give you a complete
                                                account of the system, and expound the actual teachings of the great
                                                explorer of the truth, the master-builder of human happiness. No one
                                                rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                                                but because those who do not know how to pursue pleasure rationally
                                                encounter consequences that are extremely painful. Nor again is there
                                                anyone who loves or pursues or desires to obtain pain of itself, because
                                                it is pain, but because occasionally circumstances occur in which toil
                                                and pain can procure him some great pleasure. To take a trivial example,
                                                which of us ever undertakes laborious physical exercise, except to
                                                obtain some advantage from it? But who has any right to find fault with
                                                a man who chooses to enjoy a pleasure that has no annoying consequences,
                                                or one who avoids a pain that produces no resultant pleasure?
                                                <br><br>
                                                In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                                mi id efficitur accumsan. Quisque mattis accumsan est, quis malesuada
                                                felis. Fusce dapibus pellentesque purus, sed rutrum sem maximus ac.
                                                Quisque placerat vel nisl maximus venenatis. Cras dapibus nulla eget
                                                elit consectetur molestie. Praesent malesuada dui et lectus consectetur
                                                lacinia. Donec non rhoncus sem. Duis lobortis placerat urna, interdum
                                                interdum nunc vehicula at. Ut feugiat sagittis convallis. Etiam
                                                ultricies, dui quis ullamcorper consequat, tellus neque porta mi, non
                                                cursus arcu leo et lectus. Etiam euismod justo turpis, vitae vestibulum
                                                urna feugiat id. Ut elementum nulla eu placerat varius. Cras egestas,
                                                neque ut ultrices finibus, ipsum sapien pharetra mi, ac condimentum elit
                                                justo ut augue. Cras tempor lectus odio, ac ultrices nisi ullamcorper
                                                sed. Proin in est vitae magna consequat luctus.

                                                Phasellus sit amet libero ipsum. Phasellus rutrum nec turpis at
                                                accumsan. Vivamus egestas, massa a tristique vehicula, metus tortor
                                                tempus lorem, vitae viverra arcu velit et massa. Nam commodo vulputate
                                                mi, quis convallis lectus ornare ut. Integer ultricies vitae ligula a
                                                fringilla. Sed dignissim sagittis tellus, ac egestas eros congue non.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Product Management Consultinig Section ----------------------------------------------------->

    <section id="PMC_Section">
        <div class="container-fluid evenBG">
            <h2>Product Management Consultinig</h2>
            <div class="parent marginLeftRight">
                <div class="centerDiv centerItems">
                    <!----------------------------------------------------------------  P M C 1 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PMC 1</strong></p>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC1" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC1" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC1" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PMC 1</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et mi
                                                justo. Pellentesque sit amet rhoncus libero, sed volutpat dui. Nullam
                                                viverra convallis congue. Vivamus accumsan semper eros, eu efficitur
                                                nunc iaculis a. Curabitur accumsan eget nunc quis dapibus. Nullam
                                                gravida ultricies dolor, in tincidunt lorem condimentum vitae.
                                                Vestibulum non aliquet lacus, feugiat ullamcorper urna. In ut mauris
                                                ornare, porttitor mi sit amet, maximus massa. Quisque porta efficitur
                                                libero in scelerisque. Sed sodales vel lorem sed aliquet. Maecenas id
                                                neque auctor, consequat magna nec, dignissim risus. Sed pulvinar
                                                scelerisque neque, non ornare massa tincidunt iaculis.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 2 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PMC 2</strong></p>
                            <p class="card-text">Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed
                                ornare est quis posuere commodo.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC2" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC2" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC2" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PMC 2</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Proin sodales tortor velit, ut lobortis mauris convallis vel. Sed ornare
                                                est quis posuere commodo. Ut ligula nisl, scelerisque et tellus at,
                                                iaculis placerat ligula. Integer ullamcorper lectus dui, nec lobortis
                                                metus volutpat sed. Ut tincidunt egestas sem quis fringilla. Nunc ornare
                                                facilisis sem ac bibendum. Morbi cursus rhoncus justo, non volutpat nibh
                                                accumsan sed. Fusce faucibus, mi quis venenatis efficitur, ex nulla
                                                varius dolor, eu vulputate metus ipsum consequat ligula. Phasellus sem
                                                leo, sagittis at nisi euismod, viverra pulvinar ex. Etiam convallis
                                                ligula vitae orci vehicula, sed efficitur nisl ornare. Cras nulla mi,
                                                tempor ut mauris eget, convallis dignissim magna. Mauris auctor
                                                sollicitudin sodales.<br><br>

                                                Quisque vulputate, libero quis condimentum egestas, elit sapien egestas
                                                lacus, ac malesuada tellus odio fermentum lacus. Vestibulum vitae
                                                bibendum lectus. Maecenas non fringilla nulla, ut interdum odio. Vivamus
                                                quis nulla at lorem congue imperdiet. Vivamus eget dolor nec neque
                                                dapibus vulputate. Proin iaculis metus ac dignissim volutpat. Aliquam
                                                erat volutpat. Phasellus accumsan neque a blandit accumsan.<br><br>

                                                Ut laoreet lobortis sollicitudin. Nunc scelerisque non sapien in
                                                ultricies. Maecenas egestas fermentum libero. In hac habitasse platea
                                                dictumst. Class aptent taciti sociosqu ad litora torquent per conubia
                                                nostra, per inceptos himenaeos. Integer sed odio feugiat, volutpat augue
                                                eu, semper turpis. Ut condimentum turpis ut enim rutrum, et congue neque
                                                sollicitudin. Suspendisse tincidunt, ante sit amet faucibus efficitur,
                                                est velit facilisis diam, at gravida leo dolor a justo. Maecenas
                                                hendrerit enim a semper eleifend.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 3 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PMC 3</strong></p>
                            <p class="card-text">Vivamus nulla libero, posuere sed pharetra a, convallis in magna.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC3" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC3" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC3" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PMC 3</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Vivamus nulla libero, posuere sed pharetra a, convallis in magna. Nullam
                                                sodales eleifend euismod. In condimentum magna lectus, gravida venenatis
                                                nibh rhoncus non. Sed viverra efficitur fermentum. Morbi pellentesque
                                                dictum porttitor. Phasellus non lobortis erat. Duis sagittis lobortis
                                                pretium.
                                                <br><br>
                                                Suspendisse potenti. Etiam efficitur pellentesque erat, vitae tristique
                                                est suscipit sed. Etiam consequat aliquet tortor, vitae semper nisi
                                                tincidunt eget. Nam mauris lacus, vestibulum in purus non, luctus
                                                sagittis arcu. Sed eu orci eget ipsum mollis bibendum. Vivamus eget ex a
                                                turpis tempus molestie laoreet vitae mi. Nullam sed tellus a dolor
                                                pretium auctor. Aenean non justo non neque placerat tincidunt a a ipsum.
                                                Curabitur blandit ullamcorper leo, eget lobortis felis.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 4 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PMC 4</strong></p>
                            <p class="card-text">Cras venenatis gravida orci eget porttitor. Vivamus sit amet ex varius,
                                rhoncus nunc a, ultricies orci. Quisque imperdiet odio accumsan cursus condimentum.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC4" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC4" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC4" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PMC 4</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Cras venenatis gravida orci eget porttitor. Vivamus sit amet ex varius,
                                                rhoncus nunc a, ultricies orci. Quisque imperdiet odio accumsan cursus
                                                condimentum. Suspendisse sed hendrerit turpis. Ut fringilla elementum mi
                                                quis molestie. Donec leo lectus, gravida non nulla vitae, volutpat
                                                ultrices tortor. In dui turpis, viverra in ultricies a, auctor ultricies
                                                tortor. Integer vel ullamcorper risus. Nulla et enim mi. Integer
                                                vestibulum erat quis cursus ornare.
                                                <br><br>
                                                Morbi at gravida nulla, eu vehicula augue. Ut venenatis dictum laoreet.
                                                Duis interdum ante vestibulum, pulvinar enim non, pharetra sapien.
                                                Mauris congue neque vitae venenatis euismod. Phasellus porttitor
                                                consectetur placerat. Fusce in tellus justo. Mauris efficitur, libero a
                                                vulputate auctor, orci nisl posuere odio, non hendrerit dui elit in
                                                massa. Pellentesque eu lacinia purus. Quisque purus mi, efficitur id
                                                venenatis nec, pulvinar vel ex. Cras eleifend commodo nibh non sodales.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------------------  P M C 5 -->
                    <div class="card parent text-bg-dark">
                        <div class="squareImage rounded centerDiv border border-info">
                            <img src="../../images/build.png" class="card-img-top" alt="...">
                        </div>
                        <div class="card-body">
                            <p style="text-align: center;"><strong>PMC 5</strong></p>
                            <p class="card-text">In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                mi id efficitur accumsan.</p>
                            <p><a data-bs-toggle="modal" data-bs-target="#PMC5" class="layananReadMoreDark">read more <i
                                        class="fa-solid fa-circle-chevron-right"></i></a></p>

                            <!-- Modal -->
                            <div class="modal fade" id="PMC5" data-bs-backdrop="static" data-bs-keyboard="false"
                                tabindex="-1" aria-labelledby="PMC5" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">PMC 5</h5>
                                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <p>But I must explain to you how all this mistaken idea of denouncing
                                                pleasure and praising pain was born and I will give you a complete
                                                account of the system, and expound the actual teachings of the great
                                                explorer of the truth, the master-builder of human happiness. No one
                                                rejects, dislikes, or avoids pleasure itself, because it is pleasure,
                                                but because those who do not know how to pursue pleasure rationally
                                                encounter consequences that are extremely painful. Nor again is there
                                                anyone who loves or pursues or desires to obtain pain of itself, because
                                                it is pain, but because occasionally circumstances occur in which toil
                                                and pain can procure him some great pleasure. To take a trivial example,
                                                which of us ever undertakes laborious physical exercise, except to
                                                obtain some advantage from it? But who has any right to find fault with
                                                a man who chooses to enjoy a pleasure that has no annoying consequences,
                                                or one who avoids a pain that produces no resultant pleasure?
                                                <br><br>
                                                In vel ipsum lobortis, hendrerit purus at, laoreet enim. Sed elementum
                                                mi id efficitur accumsan. Quisque mattis accumsan est, quis malesuada
                                                felis. Fusce dapibus pellentesque purus, sed rutrum sem maximus ac.
                                                Quisque placerat vel nisl maximus venenatis. Cras dapibus nulla eget
                                                elit consectetur molestie. Praesent malesuada dui et lectus consectetur
                                                lacinia. Donec non rhoncus sem. Duis lobortis placerat urna, interdum
                                                interdum nunc vehicula at. Ut feugiat sagittis convallis. Etiam
                                                ultricies, dui quis ullamcorper consequat, tellus neque porta mi, non
                                                cursus arcu leo et lectus. Etiam euismod justo turpis, vitae vestibulum
                                                urna feugiat id. Ut elementum nulla eu placerat varius. Cras egestas,
                                                neque ut ultrices finibus, ipsum sapien pharetra mi, ac condimentum elit
                                                justo ut augue. Cras tempor lectus odio, ac ultrices nisi ullamcorper
                                                sed. Proin in est vitae magna consequat luctus.

                                                Phasellus sit amet libero ipsum. Phasellus rutrum nec turpis at
                                                accumsan. Vivamus egestas, massa a tristique vehicula, metus tortor
                                                tempus lorem, vitae viverra arcu velit et massa. Nam commodo vulputate
                                                mi, quis convallis lectus ornare ut. Integer ultricies vitae ligula a
                                                fringilla. Sed dignissim sagittis tellus, ac egestas eros congue non.
                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            </p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- jQuery Script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/layanan.js" charset="utf-8"></script>

<%- include('footer') %>